@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
}

input.small { max-width: 80px; }
input.medium { max-width: 120px; }
input.large { max-width: 140px; }

input.dark { background-color: #b3b3b3; }
	
img {margin-left: 12px;}
.hide { display:none; }
.yellow {background-color: yellow;}
/* viewSalDetail.jsp(판매상세조회) 시작 */

div#searchContainer {
	background-color: #b3d9ff;
	border: solid 1px gray;
	width: 100%;
	min-height: 100px;
}

div#rowContainer {
	width:100%;
	padding: 10px 0;
	min-height: 30px;
}

div#rowContainer_2 {
	width:100%;
	padding: 4px 0;
	min-height: 30px;
}

span.title_text {
	display: inline-block;
	min-width: 120px;
	padding: 0 10px 0 20px;
	text-align: left;	
}

span.title_text_2 {
	display: inline-block;
	min-width: 80px;
	padding: 0 10px 0 20px;
	text-align: left;	
}

span.input_text {
	width: 100px;	
}

input.date {
	width: 100px;
	text-align: center;
}

span#blank {
	min-width: 30px;
}

div.inline {
	display: inline;
}

div.mg_left {
	margin-left: 300px;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
}

div#popup_container {
	margin: 0 auto;
	width: 95%;
	border: solid 1px #000000;
	height: 120px;
}

div#popup_table_container {
	margin: 0 auto;
	width: 95%;
}

.scrolltable {
  	table-layout: fixed;
  	width:100%;
}

thead#tbl_header > tr > th {
background-color: #b3b3b3;
}

.scrolltable thead {
    min-width:90%;
    display:block;
    /*border: solid 1px #000000;*/
}

.scrolltable tbody{
	min-width:90%;
    display:block;
    overflow:auto;
    height:300px;
}

.scrolltable tfoot{
	min-width:90%;
    display:block;
    overflow:auto;
    height:300px;
}

#custList_header > tr > td {
	font-size: 15px; 
}

.scrolltable th, .scrolltable td {
  padding: 10px;
  width: 50px;
  font-size: 0.875em;
  border: solid 1px gray;
}

.left{ text-align: left; }
.center{ text-align: center; }	
.right{ text-align: right; }

/* viewSalDetail.jsp(판매상세조회) 끝 */

th.border {
	border: solid 1px gray !important;
	background-color: #b3b3b3;
}

td.border {
	border: solid 1px #000000 !important;
}

div#adminContainer {
	float: right;
	padding : 10px;
}


/* tbody#PERFORM_DISPLAY > tr, tbody#PERFORM_DISPLAY > tr > td, tfoot#TFOOT_SUM > tr, tfoot#TFOOT_SUM > tr > td   {
	min-height: 30px !important;
	max-height: 30px !important;
	font-size: 14px;
	padding: 0.5rem;
} */

.ONLYNM, #AVB_PNT {
	text-align: right;
}